.nav-wrapper {
  background-color: #003399;
  /* z-index: 1; */
  /* box-shadow: none; */
}

nav {
  box-shadow: none;
  z-index: 1;
}

img {
  height: 50px;
  width:  50px;
}

a.brand-logo{
  padding: 5px;
}

span {
  color: #ff0000;
}

.btn {
  background-color: #ff0000;
}

.btn:hover {
  background-color: #ff0000;
}

img.single {
  height: 75px;
  width: 75px;
}

