<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Rye' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  </head>

  <body>

  <div class="container">
    {{>loggedout}}

    <div class="row">
      <form class="col s12" action="/users/create" method="post">
        <div class="row">

          <div class="input-field col s7 offset-s2">
            <input name="users_name" type="text" id="name" placeholder="Name">
            <label for="users_name">Name</label>
          </div>

          <div class="input-field col s7 offset-s2">
            <input name="email" type="text" id="email" placeholder="Email">
            <label for="email">Email</label>
          </div>

          <div class="input-field col s7 offset-s2">
            <input name="password" type="password" id="password" placeholder="Password">
            <label for="password">Password</label>
          </div>

          <input name="type" type="hidden" value="user">
          <input name="points" type="hidden" value="0">

          <div class="col s4 offset-s2">
            <button type="submit" class="waves-effect waves-light btn">Create</button>
          </div>

        </div>
      </form>
    </div>

  </body>
</html>
