<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Rye' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>
  </head>
<body>

  <div class="container">
    {{>loggedin_show}}

    <div class="row">

      {{#picks}}
        <div class="col s12 m7">
          <h2 class="header">Week {{week}}</h2>
          <div class="card horizontal">
            <div class="card-image">
              <img class="single circle" src="/images/{{palette}}">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>{{teams_name}}</p>
              </div>
              <div class="card-action right-align">
                <a href="/users/destroy/{{id}}"><i class="small material-icons black-text">delete</i></a>
              </div>
            </div>
          </div>
        </div>
      {{/picks}}

    </div>
  </div>


</body>
</html>





<!--           <h5>Week: {{week}}</h5>
        <div class="col s6">
          <div><img src="/images/{{palette}}"> {{teams_name}}</div>
        </div> -->
